@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Productos</h1>
</div>

<div class="cartas">
    <div class="card" style="width: 18rem;">
        <img src="https://amchamcolombia.co/wp-content/uploads/2019/09/Bebidasgaseosas.jpg" class="card-img-top" width="200" height="250">
        <div class="card-body">
            <h5 class="card-title">Gaseosas</h5>
            <p class="card-text">coca cola, sprite, fanta, pepsi, postobon, etc. </p>
            <p class="card_text">Precio: $2,500</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_960,dpr_auto,f_auto,q_auto:best/gr/images/product-images/img_large/00750100012025L.jpg" class="card-img-top" width="200" height="250">
        <div class="card-body">
            <h5 class="card-title">pan bimbo </h5>
            <p class="card-text">panes suabes y que se pueden acompñar con cualquier comida </p>
            <p class="card_text">Precio: $2,000</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIP.vUEO6eqEzcAQoSjrCDCQEAHaHa?rs=1&pid=ImgDetMain" class="card-img-top" width="200" height="250">
        <div class="card-body">
            <h5 class="card-title">arroz </h5>
            <p class="card-text">arroz diana de la mejor calidad</p>
            <p class="card_text">Precio: $2,500</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://i2.wp.com/panaderiaextra.com/wp-content/uploads/2020/04/galleta-oreo-12-paquetes.jpg?fit=600,600&ssl=1" class="card-img-top" width="200" height="250">
        <div class="card-body">
            <h5 class="card-title">galletas oreo</h5>
            <p class="card-text">ricas galletas para que compartas con tus amigos. </p>
            <p class="card_text">Precio: $3,500</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://kontens.s3.amazonaws.com/uploads/hastag/picture/54dbeb8052467d3f5b000023/Captura_de_pantalla_2015-02-11_18.49.36.png" class="card-img-top" width="200" height="250">
        <div class="card-body">
            <h5 class="card-title">papas margaritas </h5>
            <p class="card-text">exelentes para comer cuando estes en tus tiempos libre </p>
            <p class="card_text">Precio: $2,000</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://vegaperu.vtexassets.com/arquivos/ids/163339-800-auto?v=638168208931500000&width=800&height=auto&aspect=true" class="card-img-top" width="200" height="250">
        <div class="card-body">
            <h5 class="card-title">aceite </h5>
            <p class="card-text">aceite de la mejor calidad</p>
            <p class="card_text">Precio: $10,000</p>
        </div>
    </div>
</div> 

